<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<title>OpenBenches {{ block('title') }}</title>
		{% include 'favicons.html.twig' %}
		{% include 'mastodon_header.html.twig' %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% if block("ogimage") is defined %}
		<!-- Twitter Specific Metadata https://dev.twitter.com/cards/markup -->
		<meta name="twitter:card"                            content="summary_large_image">
		<meta name="twitter:site"                            content="@openbenches">
		<meta name="twitter:creator"                         content="@openbenches">
		<meta name="twitter:title"       property="og:title" content="{{ block('title') }}">
		<meta                            property="og:url"   content="{{ app.request.uri }}">
		<meta name="twitter:image"       property="og:image" content="{{ block("ogimage") }}">
		<meta                            property="og:image:type"  content="image/jpeg">
		<meta                            property="og:image:width" content="600">
		<meta                            property="og:image:alt"   content="A photo of a bench with a memorial inscription on it.">
		<meta name="twitter:description" property="og:description" content="{{ block('title') }}">
		{% endif %}

		{% if block("oembed") is defined %}
		<link rel="alternate"
			type="application/json+oembed"
			href="{{ app.request.schemeAndHttpHost }}/oembed?url={{ app.request.schemeAndHttpHost|url_encode }}%2F{{bench_id}}"
			title="oEmbed">
		{% endif %}

		<!-- Pinterest Specific https://developers.pinterest.com/docs/rich-pins/articles/? -->
		<meta                            property="og:type"         content="place">

		<!-- Facebook Specific Metadata https://developers.facebook.com/docs/sharing/opengraph/object-properties -->
		{% if latitude is defined %}
		<meta                            property="place:location:latitude"  content="{{ block('latitude') }}">
		<meta                            property="place:location:longitude" content="{{ block('longitude') }}">
		{% endif %}
		<meta                            property="og:rich_attachment"       content="true">
		<meta                            property="fb:app_id"                content="{{ app.request.server.get("FACEBOOK_APP_ID") }}">

		<link rel="stylesheet" href="/css/picnic.css?cache=2023-04-09T16:06">
		<link rel="stylesheet" href="/css/style.css?cache=2024-10-29T18:11">

		<script src="/js/maplibre-gl-4.7.1/maplibre-gl.js"></script>
		<link  href="/js/maplibre-gl-4.7.1/maplibre-gl.css" rel="stylesheet" />

		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ app.request.schemeAndHttpHost }}/rss">
		<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ app.request.schemeAndHttpHost }}/atom">


		<!-- https://developers.google.com/search/docs/data-types/sitelinks-searchbox -->
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type":    "WebSite",
			"url":      "{{ app.request.schemeAndHttpHost }}/",
			"license":  "https://creativecommons.org/licenses/by-sa/4.0/",
			"potentialAction": {
				"@type":       "SearchAction",
				"target":      "{{ app.request.schemeAndHttpHost }}/search/?search={search_term_string}",
				"query-input": "required name=search_term_string"
			}
		}
		</script>
	</head>
	<body itemscope itemtype="https://schema.org/WebPage">
		<hgroup>
			<h1>
				<a href="/"><img src="/images/openbencheslogo.svg" id="header-image" alt="">Open<wbr>Benches</a>
			</h1>
			<p itemprop="description">A map of <span id="counter" data-target="{{ number_of_benches_raw() }}">{{ number_of_benches() }}</span> memorial benches - added by people like you</p>
			<p>
				<!-- <a class="button buttonColour" href="/support/"><strong>🥰</strong> Support OpenBenches</a> -->
				<a href="/add/" class="button buttonColour"><strong>+</strong> Add bench</a>
			</p>
		</hgroup>
		{% block body %}{% endblock %}
		{% include 'footer.html.twig' %}
	</body>
</html>
