	{% extends "base.html.twig" %}

	{# For inclusion in the base #}
	{% block title %}Edit Bench{% endblock %}
	{% block longitude %}{{ longitude }}{% endblock %}
	{% block  latitude %}{{ latitude }}{% endblock %}

	{% block body %}
	<h3>
	Welcome {{ provider|capitalize }} user {{ username }}
	{% if avatar is not null %}
		<img src="{{ avatar }}" width="20" />
	{% endif %}
	</h3>
	<p>You can edit this bench's inscription, change location, or add more photos.</p>
	<form action="/edit/{{benchID}}" enctype="multipart/form-data" method="post">
		
		<div style="clear:both;">
			<h3>Drag pin to change bench location, then press "Save Changes"</h3>
			<div id="map" ></div>
		</div>

		{{ map_javascript("/api/bench/", benchID, latitude, longitude, 16, true ) }}


		<div style="clear:both;">
			<input type="text"   id="coordinates"  value="{{ latitude }},{{ longitude }}" disabled="true" />
			<input type="hidden" id="newLongitude" name="newLongitude" value="{{ longitude }}"/>
			<input type="hidden" id="newLatitude"  name="newLatitude"  value="{{ latitude }}"/>
			<input type="submit" class='button buttonColour' value="💾 Save Changes" />
		</div>&nbsp;

		<div>
			<label for="inscription">Change Inscription?</label><br>
			<textarea id="inscription" name="inscription" cols="40" rows="6">{{ inscription }}</textarea>
		</div>&nbsp;
		<script src="/js/jquery.3.6.4/jquery-3.6.4.min.js"></script>
		<script src="/js/select2-4.1.0-rc.0/select2.min.js"></script>
		<script src="/api/tags"></script>
		<script>
			$(document).ready(function() {
					$('.js-tags-multiple').select2({
							data: tags,
							closeOnSelect: false,
							placeholder: "tag this bench up"
					});
				const currentTags={{ tags_json }};
				var currentTagsIDs=[];
				currentTags.forEach( tag => {
					//console.log(tag['tagID']);
					currentTagsIDs.push(tag['tagID']);
					//console.log(currentTagsIDs);
					}
				)
				$('#tag_multiple').val(currentTagsIDs);
				$('#tag_multiple').trigger('change');
			});
		</script>

		<div id="tagInput" style="">
			<label for="tag_multiple">
				Change tags?
				<select class="js-tags-multiple form-control"
							name="tags[]" id="tag_multiple"
							multiple="multiple"></select>
			</label>
		</div>
		<br>
		<div id='benchImage'>
			{% if medias is defined %}
				{% for media in medias %}
				<div itemprop="photo" class="benchImage">

					<img src="{{ media.url }}"
						alt="{{ media.alt }}"
						width="{{ media.width}}"
						height="{{ media.height }}"
						class="proxy-image"
						loading="lazy" />

					<span class='caption'>
						{% if media.importURL is not null %}
						<a href="{{ media.importURL }}">
							<img src="/images/cc/{{ media.licenceIcon }}"
								class="cc-icon"
									alt="{{ media.licence }}"/>
						</a>
						{% else %}
						<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
							<img src="/images/cc/{{ media.licenceIcon }}"
								class="cc-icon"
									alt="Creative Commons Attribution Share-Alike"/>
						</a>
						{% endif %}
						{{ media.formattedDate }}<br>
						{{ media.make }} {{ media.model }}
						{% if media.importURL is not null %}
						<a href='/user/{{ media.userID }}'>℅ {{ media.userName }}</a>
						{% endif %}
					</span>
				</div>
				{% endfor %}
			{% endif %}
		</div>

		<h3>Add more images?</h3>
		<div id="photo1" class="photo-group">
			<div class="file_input_button">
				<div id="photoPreview1" style="display: none;"></div>
				<div id="upload-prompt1" class="upload-prompt">
					<span class="upload-copy">
						📷 Upload a geotagged photograph of the bench
						<br>
						<small>Please make sure the inscription is legible and well framed.</small>
					</span>
				</div>
				<input type="file" name="userfile1" id="photoFile1" accept="image/jpeg;capture=camera">
			</div>
			<div>
				<label for="media_type1">This photo is a:</label>
				{# TODO: Get these values from the database #}
				<select name="media_type1" id="media_type1">
					<option value="inscription" selected="">Close-up of the inscription</option>
					<option value="bench">Long shot of the bench</option>
					<option value="view">View from the bench</option>
					<option value="pano">Panoramic view</option>
					<option value="360">VR 360 panoramic </option>
					<option value="video">Video of the bench</option>
				</select>
			</div>
		</div>
		<div id="photo2" class="photo-group" style="display: none;">
			<div class="file_input_button">
				<div id="photoPreview2" style="display: none;"></div>
				<div id="upload-prompt2" class="upload-prompt">
					<span class="upload-copy">
						📷 Optional photo of same bench
					</span>
				</div>
				<input type="file" name="userfile2" id="photoFile2" accept="image/jpeg;capture=camera">
			</div>
			<div>
				<label for="media_type2">This photo is a:</label>
				{# TODO: Get these values from the database #}
				<select name="media_type1" id="media_type1">
					<option value="inscription" selected="">Close-up of the inscription</option>
					<option value="bench">Long shot of the bench</option>
					<option value="view">View from the bench</option>
					<option value="pano">Panoramic view</option>
					<option value="360">VR 360 panoramic </option>
					<option value="video">Video of the bench</option>
				</select>
			</div>
		</div>&nbsp;
		<div id="photo3" class="photo-group" style="display: none;">
			<div class="file_input_button">
				<div id="photoPreview3" style="display: none;"></div>
				<div id="upload-prompt3" class="upload-prompt">
					<span class="upload-copy">
						📷 Optional photo of same bench
					</span>
				</div>
				<input type="file" name="userfile3" id="photoFile3" accept="image/jpeg;capture=camera">
			</div>
			<div>
				<label for="media_type3">This photo is a:</label>
				{# TODO: Get these values from the database #}
				<select name="media_type1" id="media_type1">
					<option value="inscription" selected="">Close-up of the inscription</option>
					<option value="bench">Long shot of the bench</option>
					<option value="view">View from the bench</option>
					<option value="pano">Panoramic view</option>
					<option value="360">VR 360 panoramic </option>
					<option value="video">Video of the bench</option>
				</select>
			</div>
		</div>&nbsp;
		<div id="photo4" class="photo-group" style="display: none;">
			<div class="file_input_button">
				<div id="photoPreview4" style="display: none;"></div>
				<div id="upload-prompt4" class="upload-prompt">
					<span class="upload-copy">
						📷 Optional photo of same bench
					</span>
				</div>
				<input type="file" name="userfile4" id="photoFile4" accept="image/jpeg;capture=camera">
			</div>
			<div>
				<label for="media_type4">This photo is a:</label>
				{# TODO: Get these values from the database #}
				<select name="media_type1" id="media_type1">
					<option value="inscription" selected="">Close-up of the inscription</option>
					<option value="bench">Long shot of the bench</option>
					<option value="view" >View from the bench</option>
					<option value="pano" >Panoramic view</option>
					<option value="360"  >VR 360 panoramic</option>
					<option value="video">Video of the bench</option>
				</select>
			</div>
		</div>&nbsp;
		<br>
		<input type="radio" id="publishedTrue"  name="published" value="true" checked>
			<label for="publishedTrue" class="checkable">Publish these changes</label>
		<br>
		{% if provider == "twitter" %}
			{% if providerID == "14054507" %}
				<input type="radio" id="publishedFalse" name="published" value="false">
				<label for="publishedFalse" class="checkable">⚠️ Delete this bench ⚠️</label>
			{% endif %}
		{% endif %}
		
		<input type="hidden" name="key" value=""/>
		<br>&nbsp;
		<div class="button-bar">
			<input type="submit" class='button buttonColour' value="💾 Save Changes" />
		</div>
	</form>

	<script src="/js/JavaScript-Load-Image-5.16.0/js/load-image.all.min.js"></script>
	<script type="text/javascript">
	var previewWidth = 800;

	document.getElementById('photoFile1').onchange = function (e) {
		var preview1 = document.getElementById("photoPreview1");
		//	If a photo was added already, remove it.
		while (preview1.hasChildNodes()) {
			preview1.removeChild(preview1.lastChild);
		}
		//	Display the element
		preview1.style.display = "block";
		//	Remove the upload text
		var u1 = document.getElementById("upload-prompt1");
		u1.style.display = "none";
		//	Add a quick canvas to the screen showing the image
		var loadingImage = loadImage(
			e.target.files[0],
			function (img) { preview1.appendChild(img); },
			{ maxWidth: previewWidth, canvas: true, orientation: true}
		);
		if (!loadingImage) {}
		document.getElementById('photo2').style.display = "block";
	};

	document.getElementById("photoFile2").onchange = function (e) {
		var preview2 = document.getElementById("photoPreview2");
		//	If a photo was added already, remove it.
		while (preview2.hasChildNodes()) {
			preview2.removeChild(preview2.lastChild);
		}
		//	Display the element
		preview2.style.display = "block";
		//	Remove the upload text
		var u2 = document.getElementById("upload-prompt2");
		u2.style.display = "none";
		//	Add a quick canvas to the screen showing the image
		var loadingImage = loadImage(
			e.target.files[0],
			function (img) { preview2.appendChild(img); },
			{ maxWidth: previewWidth, canvas: true, orientation: true}
		);
		if (!loadingImage) {}
		//	Show the next upload box
		document.getElementById('photo3').style.display = "block";
	}

	document.getElementById("photoFile3").onchange = function (e) {
		var preview3 = document.getElementById("photoPreview3");
		//	If a photo was added already, remove it.
		while (preview3.hasChildNodes()) {
			preview3.removeChild(preview3.lastChild);
		}
		//	Display the element
		preview3.style.display = "block";
		//	Remove the upload text
		var u3 = document.getElementById("upload-prompt3");
		u3.style.display = "none";
		//	Add a quick canvas to the screen showing the image
		var loadingImage = loadImage(
			e.target.files[0],
			function (img) { preview3.appendChild(img); },
			{ maxWidth: previewWidth, canvas: true, orientation: true}
		);
		if (!loadingImage) {}
		//	Show the next upload box
		document.getElementById('photo4').style.display = "block";
	}

	document.getElementById("photoFile4").onchange = function (e) {
		var preview4 = document.getElementById("photoPreview4");
		//	If a photo was added already, remove it.
		while (preview4.hasChildNodes()) {
			preview4.removeChild(preview4.lastChild);
		}
		//	Display the element
		preview4.style.display = "block";
		//	Remove the upload text
		var u4 = document.getElementById("upload-prompt4");
		u4.style.display = "none";
		//	Add a quick canvas to the screen showing the image
		var loadingImage = loadImage(
			e.target.files[0],
			function (img) { preview4.appendChild(img); },
			{ maxWidth: previewWidth, canvas: true, orientation: true}
		);
		if (!loadingImage) {}
	}
	</script>
	{% endblock %}

