{% extends "base.html.twig" %}

{# For inclusion in the base #}
{% block title %}Flickr{% endblock %}


{% block body %}
	{% if flickrID is defined %}
	<h3>Flickr Image "{{ flickrID }}"</h3> 
		<form action="/flickrUpload" method="post" autocomplete="off">
			<a target='_blank' href='{{ original }}'><img id='flickrimg' src='data:image/jpeg;base64,{{ b64 }}' width='512'/></a><br>
			<label for="flickrimg">This photo is a:</label>
			<select name="media_type1" id="media_type1">
				{% set selected = "inscription" %}
				{% set media_types_array = media_types() %}
				{% for type in media_types_array %}
					{% if type.shortName == selected %}
					<option value="{{ type.shortName }}" selected="selected">{{ type.longName }}</option>
					{% else %}
					<option value="{{ type.shortName }}">{{ type.longName }}</option>
					{% endif %}
				{% endfor %}
			</select><br>
			<a class='button' onclick='sendURLToCloudVision("{{ b64 }}")'>Detect Text</a><br>
			<textarea name="inscription" id="inscription" cols='70' rows='6'>{{ inscription }}</textarea><br>
			<label for="inscription" id="message"></label><br>
			<input type="text" name="original" size="60" value="{{ original }}"><br>
			<input type="text" name="lat"      size="60" value="{{ lat }}">     <br>
			<input type="text" name="long"     size="60" value="{{ long }}">    <br>
			<input type="text" name="licence"  size="60" value="{{ licence }}"> <br>
			<input type="text" name="import"   size="60" value="{{ import }}">  <br>
			<input type="submit" value="Import Bench from Flickr">
		</form>
	{% endif %}
<script src="/js/jquery.3.6.4/jquery-3.6.4.min.js"></script>
<script src="/js/vision/vision.js.php"></script>

{% endblock %}

