{% extends "base.html.twig" %}

{# For inclusion in the base #}
{% block title %}Benches in {{ title }}{% endblock %}


{% block body %}
<h3>{{ count|number_format }} Benches near "{{ title }}"</h3> 


	<div id="map"></div>
	{{ map_javascript( null, null, null, null, null, false, bb_n, bb_e, bb_s, bb_w) }}

	{% if benches is defined %}
	<div id="search-results">
		<ol>
		{% for bench in benches %}
			<li>
				<a href="/bench/{{ bench.benchID }}">
					<img src="{{ bench.image }}" class="search-thumb" loading="lazy" width="120" alt="">
					<div>
						{{ bench.inscription }}<br>
						<address><small>{{ bench.address }}</small></address>
					</div>
				</a>
			</li>
		{% endfor %}
		</ol>
	</div>
	{% endif %}

	<div id="pagination">
	{% if previous_url is not null %}
		<a href="{{ previous_url }}" class="button buttonColour"><strong>⬅️</strong> Previous Results</a>&emsp;&emsp;
	{% endif %}
		{% if next_url is not null %}
		<a href="{{ next_url }}" class="button buttonColour">More Results <strong>➡️</strong></a>&emsp;&emsp;
	{% endif %}
	</div>

	{% include 'searchform.html.twig' %}

{% endblock %}
